<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Umbranis webshop b&egrave;ta versie</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="style/style.css" type="text/css" />
	<link rel="stylesheet" href="style/login.css" type="text/css" />
</head>
<body>
	<div id="container">
		<div id="header"><h1>Umbranis webshop b&egrave;ta versie</h1></div>
		<div id="tabs">
		<ul id="nav">
		<li><a href="index.html">Home</a></li>
		<li><a href="#">Muziek</a>
			<ul>
				<li><a href="#">iets</a></li>
				<li><a href="#">nog iets</a></li>
				<li><a href="#">etc</a></li>
			</ul></li>
		<li><a href="#">Video</a>
			<ul>
				<li><a href="#">iets</a></li>
				<li><a href="#">nog iets</a></li>
				<li><a href="#">etc</a></li>
			</ul></li>
		<li><a href="gamesmain.html">Games</a>
			<ul>
				<li><a href="#">Playstation 3</a></li>
				<li><a href="#">Xbox 360</a></li>
				<li><a href="pcgames.html">PC</a>
					<ul>
						<li><a href="#">alle games</a></li>
						<li><a href="#">nieuwe games</a></li>
						<li><a href="#">aanbiedingen</a></li>
					</ul>
				</li>
				<li><a href="#">etc</a></li>
			</ul></li>
		<li><a href="#">Boeken</a>
			<ul>
				<li><a href="#">iets</a></li>
				<li><a href="#">nog iets</a></li>
				<li><a href="#">etc</a></li>
			</ul></li>
		<li><a href="#">FAQ</a></li>
		<li><a href="contact.html">Contact</a></li>
		</ul>
		</div>		
		<div id="content">
			<div id="left">Meest verkocht/andere mensen kochten ook/meest gezocht</div>
			<div id="right">
				<h2>Content</h2>
			</div>
			<br />
			<br />
			<br />
			<div style="clear: both; height: 30px;"></div>
		</div>
		<div id="loginbox"><a href="login.html">Inloggen</a>&nbsp;<a href="registreer.html">Registreren</a></div>
		<div id="footer">Copyright &copy; 2012</div>
	</div>
</body>
</html>