table.nocenter{
	margin: 0px;
}

.small{
	margin: 10px;
	background-color: #FFE599;
	border: solid 2px black;
	width: 240px;
	height: 200px;
	text-align: center;
	font-size: 12px;
}

.small table{
	width: 240px;
}

.small img{
	margin: 3px;
}

td.image{
	width: 170px;
	height: 150px;
}