<div id="contentcontainer">
	<h2>Adres gegevens</h2>
	<div class="klantcontact">
		<p>Dit zijn uw adres gegevens. Druk op aanpassen om deze gegevens aan te passen.</p>
		<form action="?p=adresschange.html" method="post"><table>
			<tr>
				<td>Voornaam</td>
				<td>: Jan</td>
			</tr>
			<tr>
				<td>Achternaam</td>
				<td>: Klaassen</td>
			</tr>
			<tr>
				<td>Postcode</td>
				<td>: 1234 AB</td>
			</tr>
			<tr>
				<td>Straat</td>
				<td>: Randomweg</td>
			</tr>
			<tr>
				<td>Huisnummer</td>
				<td>: 56</td>
			</tr>
			<tr>
				<td>telefoon 1</td>
				<td>: 012-3456789 </td>
			</tr>
			<tr>
				<td>telefoon 2</td>
				<td>: 06-12345678</td>
			</tr>
			<tr>
				<td>Email adress</td>
				<td>: J.Klaassen@hotmail.com</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td><input type="submit" name="submit" value="aanpassen" /></td>
			</tr>
		</table></form><br />
	</div>
	<br />
	
	<h2>Wachtwoord wijzigen</h2>
	<div class="klantcontact">
		<p>Klik op wachtwoord wijzigen om uw wachtwoord te wijzigen</p>
		<form action="?p=passchange.html" method="post">
			<table>
				<tr>
					<td><input type="submit" name="submit" value="wachtwoord wijzigen" /></td>
				</tr>
			</table>
		</form>
		<br />
	</div>
	
	<br /><h2>Bestelling overzicht</h2>
	<div class="klantbestel">
		<p>Dit is een overzicht van uw bestellingen. Klik op toon bestelling om de bijbehorende producten te zien</p>
		<table id="orders">
			<tr>
				<th class="begin">&nbsp;</th>
				<th>Order no.</th>
				<th>prijs</th>
				<th>betaling</th>
				<th>status aflevering</th>
				<th>datum bestelling</th>
				
			</tr>
			<tr>
				<td class="begin"><a href="?p=orderoverview.html">toon bestelling</a></td>
				<td>1</td>
				<td>&euro; 50,00</td>
				<td>voldaan</td>
				<td>onderweg</td>
				<td>10 jan 2012</td>
				
			</tr>
			<tr class="eind">
				<td class="begin"><a href="#">toon bestelling</a></td>
				<td>2</td>
				<td>&euro; 12,34</td>
				<td>niet voldaan</td>
				<td>in afwachting</td>
				<td>13 jan 2012</td>
			</tr>
		</table>
		<br />
	</div>
	<br />
</div>