<div id="contentcontainer">
	<h2>Adres gegevens</h2>
	<div class="klantcontact">
		<p>Dit zijn uw adres gegevens. Druk op aanpassen om deze gegevens aan te passen.</p>
		<center>
		<table>
			<tr>
				<td>Voornaam</td>
				<td>: Jan</td>
			</tr>
			<tr>
				<td>Achternaam</td>
				<td>: Klaassen</td>
			</tr>
			<tr>
				<td>Postcode</td>
				<td>: 1234 AB</td>
			</tr>
			<tr>
				<td>Straat</td>
				<td>: Randomweg</td>
			</tr>
			<tr>
				<td>Huisnummer</td>
				<td>: 56</td>
			</tr>
			<tr>
				<td>telefoon 1</td>
				<td>: 012-3456789 </td>
			</tr>
			<tr>
				<td>telefoon 2</td>
				<td>: 06-12345678</td>
			<tr>
				<td>Email adress</td>
				<td>: J.Klaassen@hotmail.com</td>
		</table>
		<form action="?p=adresschange.html" method="post">
			<input type="submit" name="submit" value="aanpassen" />
		</form><br />
		</center>
	</div>
	<br />
	<h2>Wachtwoord wijzigen</h2>
	<div class="klantcontact">
		<p>Klik op wachtwoord wijzigen om uw wachtwoord te wijzigen</p>
		<center>
			<form action="?p=passchange.html" method="post">
				<input type="submit" name="submit" value="wachtwoord wijzigen" />
			</form><br />
		</center>
	</div>
	<br /><h2>Bestelling overzicht</h2>
	<div class="klantcontact">
		<p>Klik op de knop om een overzicht van uw bestellingen te zien</p>
		<center>
			<form action="?p=orderoverview.html" method="post">
				<input type="submit" name="submit" value="toon bestellingen" />
			</form><br />
		</center>
	</div>
</div>