<div id="contentcontainer">
	<h2>Adres gegevens</h2>
	<div class="klantcontact">
		<center><br />
			<form action="?p=accsettings.html" method="post">
			<table>
				<tr>
					<td>voornaam</td>
					<td><input type="text" name="vnaam" maxlength="32" value="Jan" /></td>
				</tr>
				<tr>
					<td>achternaam</td>
					<td><input type="text" name="anaam" maxlength="32" value="Klaassen" /></td>
				</tr>
				<tr>
					<td>Postcode</td>
					<td><input type="text" class="ctel" name="pstc" maxlength="10" value="1234 AB" /></td>
				</tr>
				<tr>
					<td>Straat</td>
					<td><input type="text" name="straat" maxlength="32" value="Randomweg" /></td>
				</tr>
				<tr>
					<td>Huisnummer</td>
					<td><input type="text" class="huisnr" name="huisnr" maxlength="5" value="56" /></td>
				</tr>
				<tr>
					<td>telefoon 1</td>
					<td><input type="text" class="ctel" name="tel1" maxlength="12" value="012-3456789" /></td>
				</tr>
				<tr>
					<td>telefoon 2</td>
					<td><input type="text" class="ctel" name="tel1" maxlength="12" value="06-12345678" /></td>
				<tr>
					<td>Email adress</td>
					<td><input type="text" class="cmail" name="mail" maxlength="32" value="J.Klaassen@hotmail.com" /></td>
			</table>
			<input type="submit" name="submit" value="bevestigen" />
		</form>
		<br />
	</div>
</div>