<div id="contentcontainer">
	<h2>Alle soorten muziek</h2>
	<br />
	<table>
		<tr>
			<td>
				<div class="category">
				<a href="?p=suspenseboeken.html">
					<img src="img/boek.png" alt="Suspense" width="180px" height="150px"/>
					Suspense
				</a>
				</div>
			</td>
			<td>
				<div class="category">
				<a href="?p=romanboeken.html">
					<img src="img/boek.png" alt="Roman" width="180px" height="150px"/>
					Roman
				</a>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="category">
				<a href="?p=nonfictionboeken.html">
					<img src="img/boek.png" alt="non-fiction" width="180px" height="150px"/>
					Non-Fiction
				</a>
				</div>
			</td>
		</tr>
	</table>
</div>