<div id="contentcontainer">
	<h2>FAQ</h2>
	<div id="faqbox">
		<u>FAQ</u></br>
		<p align="left">
		Hier worden uw dringendste vragen beantwoordt.</br></br>
		<i><b>Wat is de zin van het leven?</i></b></br>
		Site-gerelateerde vragen...</br></br>
		<i><b>Ik zit op een site?</i></b></br>
		Ja.</br></br>
		<i><b>Wat voor site is dit?</i></b></br>
		We verkopen verschillende soorten media, zoals computerspellen en boeken</br></br>
		<i><b>Waarom zou je dat willen doen?</i></b></br>
		Geld verdienen.</br></br>
		<i><b>Gast, geld is een sociale valstrik. Het is hoe de regering het volk onderdrukt.</i></b></br>
		...</br></br>
		</p>
	</div>
</div>