<div id="contentcontainer">
	<h2>Jazz-muziek</h2>
	<br />
	<table>
		<tr>
			<td>
				<div class="small">
					<table width="240px">
						<tr>
							<td>
								<a href="#">
									<img src="img/muziek.png" alt="generic" width="170px" height="150px" align="left"/>
								</a>
							</td>
							<td>
								Cd <br />
								<br />
								<br />
								&#8364; 15,99,-
							</td>
						</tr>
						<tr>
							<td>
								<a href="#">
									Birds of Fire.
								</a>
							</td>
						</tr>
					</table>
				</div>
			</td>
			<td>
				<div class="small">
					<table width="240px">
						<tr>
							<td>
								<a href="#">
									<img src="img/muziek.png" alt="generic" width="170px" height="150px" align="left"/>
								</a>
							</td>
							<td>
								Cd <br />
								<br />
								<br />
								&#8364; 15,99,-
							</td>
						</tr>
						<tr>
							<td colspan=2>
								<a href="#">
									Unrecognizable screeches from a saxophone.
								</a>
							</td>
						</tr>
					</table>
				</div>
			</td>
			<td>
				<div class="small">
					<table width="240px">
						<tr>
							<td>
								<a href="#">
									<img src="img/test.png" alt="generic" width="170px" height="150px" align="left"/>
								</a>
							</td>
							<td>
								Cd <br />
								<br />
								<br />
								&#8364; prijs
							</td>
						</tr>
						<tr>
							<td>
								<a href="#">
									titel
								</a>
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="small">
					<table width="240px">
						<tr>
							<td>
								<a href="#">
									<img src="img/test.png" alt="generic" width="170px" height="150px" align="left"/>
								</a>
							</td>
							<td>
								Cd <br />
								<br />
								<br />
								&#8364; prijs
							</td>
						</tr>
						<tr>
							<td>
								<a href="#">
									titel
								</a>
							</td>
						</tr>
					</table>
				</div>
			</td>
			<td>
				<div class="small">
					<table width="240px">
						<tr>
							<td>
								<a href="#">
									<img src="img/test.png" alt="generic" width="170px" height="150px" align="left"/>
								</a>
							</td>
							<td>
								Cd <br />
								<br />
								<br />
								&#8364; prijs
							</td>
						</tr>
						<tr>
							<td>
								<a href="#">
									titel
								</a>
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
	</table>
</div>