<div id="contentcontainer">
	<h2>Jazz-muziek</h2>
	<br />
	<table>
		<tr>
			<td>
				<div class="small">
					<a href="#">
						<img src="img/muziek.png" alt="birds" width="180px" height="150px"/>
						<table width="180px">
							<tr>
								<td>
									<a href="#">Birds of Fire.</a>
								</td>
								<td>
									&#8364; 15,99,-
								</td>
							</tr>
						</table>
					</a>
				</div>
			</td>
			<td>
				<div class="small">
					<a href="#">
						<img src="img/muziek.png" alt="generic" width="180px" height="150px"/>
						<table width="180px">
							<tr>
								<td>
									<a href="#">Unrecognizable screeches from a saxophone.</a>
								</td>
								<td>
									&#8364; 15,99,-
								</td>
							</tr>
						</table>
					</a>
				</div>
			</td>
			<td>
				<div class="small">
				<img src="img/test.png" alt="test" width="180px" height="150px"/>
					etc
				</div>
			</td>
			<td>
				<div class="small">
				<img src="img/test.png" alt="test" width="180px" height="150px"/>
					etc
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="small">
				<img src="img/test.png" alt="test" width="180px" height="150px"/>
					etc
				</div>
			</td>
			<td>
				<div class="small">
				<img src="img/test.png" alt="test" width="180px" height="150px"/>
					etc
				</div>
			</td>
		</tr>
	</table>
</div>