<div id="contentcontainer">
	<h2>Alle soorten muziek</h2>
	<br />
	<table>
		<tr>
			<td>
				<div class="category">
					<a href="?p=jazzmuziek.html">
						<img src="img/muziek.png" alt="jazz" width="180px" height="150px"/>
						Jazz
					</a>
				</div>
			</td>
			<td>
				<div class="category">
				<a href="?p=bluesmuziek.html">
					<img src="img/muziek.png" alt="blues" width="180px" height="150px"/>
					Blues
				</a>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="category">
				<a href="?p=discomuziek.html">
					<img src="img/muziek.png" alt="disco" width="180px" height="150px"/>
					Disco
				</a>
				</div>
			</td>
			<td>
				<div class="category">
				<a href="?p=deathmetalmuziek.html">
					<img src="img/muziek.png" alt="skull" width="180px" height="150px"/>
					Death Metal
				</a>
				</div>
			</td>
		</tr>	
	</table>
</div>