<div id="contentcontainer">
	<h2>bestelling overzicht</h2>
	<div class="klantovz">
		<center>
			<table id="lijstvklant">
				<tr>
					<th>aantal</th>
					<th class="product">product</th>
					<th>prijs</th>
					<th class="status">status betaling</th>
					<th class="status">status aflevering</th>
					<th>datum</th>
				</tr>
				<tr>
					<td>1</td>
					<td>Birds of Fire</td>
					<td class="prijs">&euro; 15,99</td>
					<td>voldaan</td>
					<td>voldaan</td>
					<td>10 jan 2012</td>
				</tr>
				<tr>
					<td>2</td>
					<td>Portal 2</td>
					<td class="prijs">&euro; 59,99</td>
					<td>voldaan</td>
					<td>is onderweg</td>
					<td>11 jan 2012</td>
				</tr>
				<tr>
					<td>1</td>
					<td>Skyrim</td>
					<td class="prijs">&euro; 49,99</td>
					<td>niet voldaan</td>
					<td>wacht op betaling</td>
					<td>12 jan 2012</td>
				</tr>
			</table><br />
			<form action="?p=accsettings.html" method="post">
				<input type="submit" name="submit" value="terug" />
			</form>
		</center><br />
	</div>
</div>

					
			