<div id="contentcontainer">
	<h2>bestelling overzicht</h2>
	<div class="klantovz">
		<form action="?p=accsettings.html" method="post">
			<table id="lijstvklant">
				<tr>
				<th>Artikel no.</th>
				<th>Artikel naam</th>
				<th>Aantal</th>
				<th>Prijs / stuk</th>
				<th>Prijs totaal</th>
			</tr>
			<tr>
				<td>1</td>
				<td>Skyrim PC</td>
				<td>1</td>
				<td>&euro; 25,00</td>
				<td>&euro; 25,00</td>
			</tr>
			<tr>
				<td>2</td>
				<td>Portals 2 PC</td>
				<td>2</td>
				<td>&euro; 12,50</td>
				<td>&euro; 25,00</td>
			</tr>
			<tr>
				<td class="leeg">&nbsp;</td>
				<td class="leeg">&nbsp;</td>
				<td class="leeg">&nbsp;</td>
				<td><strong>Totaal:</strong></td>
				<td><strong>&euro; 50,00</strong></td>
			</tr>
			<tr>
				<td class="leeg">&nbsp;</td>
				<td class="leeg">&nbsp;</td>
				<td class="leeg">&nbsp;</td>
				<td class="leeg">&nbsp;</td>
				<td class="leeg">&nbsp;</td>
			</tr>
			<tr>
				<td class="leeg">&nbsp;</td>
				<td class="leeg">&nbsp;</td>
				<td class="leeg" colspan="2"><input type="submit" name="submit" value="terug" /></td>
				<td class="leeg">&nbsp;</td>
			</tr>
			</table>
		</form>
		<br />
	</div>
</div>

					
			