<div id="contentcontainer">
	<h2>Product overzicht</h2>
	<div class="product">
		<p>De onderstaande producten zullen worden afgerekend.</p>
		<br />
		<center>
			<table id="product">
				<tr>
					<th>aantal</th>
					<th>product</th>
					<th>levertijd</th>
					<th>prijs</th>
				</tr>
				<tr>
					<td>2</td>
					<td>skyrim</td>
					<td>2 werkdagen</td>
					<td class="prijs">&euro; 110,00</td>
				</tr>
				<tr>
					<td>1</td>
					<td>portal 2</td>
					<td>3 werkdagen</td>
					<td class="prijs">&euro; 55,00</td>
				</tr>
				<tr>
					<td class="leeg"></td>
					<td class="leeg"></td>
					<td>verzendkosten</td>
					<td class="prijs">&euro; 10,00</td>
				</tr>
				<tr>
					<td class="leeg"></td>
					<td class="leeg"></td>
					<td>totaal</td>
					<td class="prijs">&euro; 175,00</td>
				</tr>
			</table>					
			<br />
			<form action="?p=winkelwagen.html" method="post">
				<input type="submit" name="submit" id="backsubmit" value="Terug naar winkelwagen" />
			</form>
		</center>
		<br />
	</div>
	<br />
	<h2>Contact gegevens</h2>
	<div class="contact">
		<p>Controleer uw contact gegevens.</p>
		<br />
		<center>
			<table>
				<tr>
					<td>Voornaam</td>
					<td>: Jan</td>
				</tr>
				<tr>
					<td>Achternaam</td>
					<td>: Klaassen</td>
				</tr>
				<tr>
					<td>Postcode</td>
					<td>: 1234 AB</td>
				</tr>
				<tr>
					<td>Straat</td>
					<td>: Randomweg</td>
				</tr>
				<tr>
					<td>Huisnummer</td>
					<td>: 56</td>
				</tr>
				<tr>
					<td>Hoofd telefoonnummer</td>
					<td>: 012-3456789 </td>
				<tr>
			</table>
		</center>
	</div>
	<br />
	<h2>Betalingsmethoden</h2>
	<div class="contact">
		<p>Kies een betaal methode</p>
		<center>
			<form action="#" method="post">
				<table class="betaling">
					<tr>
						<td><input type="radio" name="betaling" id="ideal" /></td>
						<td><img src="img/ideal.png" alt="iDEAL" /></td>
					</tr>
					<tr>
						<td><input type="radio" name="betaling" id="master" checked="checked" /></td>
						<td><img src="img/mastercard.png" alt="MasterCard" /></td>
					</tr>
					<tr>
						<td><input type="radio" name="betaling" id="automatischeIncasso" />
						<td><label for="automatischeIncasso"><img src="img/automatischeincasso.png" alt="Automatische incasso" /></label></td>
					</tr>
				</table>
			</form>
		</center>
	</div>
	<div class="mastercard">
		<p> U heeft gekozen om met een mastercard te betalen.</p>
		<br />
		<center>
			<form name="link" action="succes.html" method="get">
				<table>
					<tr>
						<td class="input">credit card nummer: *</td>
						<td><input type="text" name="ccnummer" maxlength="20" /></td>
					</tr>
					<tr>
						<td class="input">credit card eigenaar: *</td>
						<td><input type="text" name="cceigenaar" maxlength="50" /></td>
					</tr>
					<tr>
						<td class="input">verloop datum: *</td>
						<td>
							<select name="exp1" id="exp1">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
								<option value="11">11</option>
								<option value="12">12</option>
							</select>
							<select name="exp2" id="exp2">
								<option value="2011">2011</option>
								<option value="2012">2012</option>
								<option value="2013">2013</option>
								<option value="2014">2014</option>
								<option value="2015">2015</option>
								<option value="2016">2016</option>
								<option value="2017">2017</option>
								<option value="2018">2018</option>
								<option value="2019">2019</option>
								<option value="2020">2020</option>
								<option value="2021">2021</option>
								<option value="2022">2022</option>
							</select>
						</td>
					</tr>
					<tr>
						<td class="input">CVV code: *</td>
						<td><input type="password" name="ccnummer" id="cvv" maxlength="4" /></td>
					</tr>
				</table>
				<br />
				<input id="submit" type="submit" name="submit" value="Doorgaan" />
			</form>
		</center>
	</div>
</div>