<div id="contentcontainer">
	<h2>Wachtwoord wijzigen</h2>
	<div class="klantcontact">
		<p>Om uw wachtwoord te wijzigen moet u bij huidig wachtwoord uw oude wachtwoord invoeren en bij
		nieuw wachtwoord uw nieuwe wachtwoord. Bij wachtwoord herhalen voert u opnieuw uw wachtwoord
		in als controle.</p>
		<br />
		<form action="?p=accsettings.html" method="post">
			<table>
				<tr>
					<td>huidig wachtwoord</td>
					<td><input type="password" name="passold" maxlength="32" /></td>
				</tr>
				<tr>
					<td>nieuw wachtwoord</td>
					<td><input type="password" name="passnew" maxlength="32" /></td>
				</tr>
				<tr>
					<td>wachtwoord herhalen</td>
					<td><input type="password" name="passnew2" maxlength="32" /></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><input type="submit" name="submit" value="bevestigen" /></td>
				</tr>
			</table>
		</form>
		<br />
	</div>
</div>