<div id="contentcontainer">
	<h2>Pc-Games:</h2>
	<br />
	<table>
		<tr>
			<td>
				<div class="small">
					<a href="#">
						<img src="img/skyrim.png" alt="Skyrim" width="180px" height="150px"/>
						<table width="180px">
							<tr>
								<td>
									<a href="#">Skyrim</a>
								</td>
								<td>
									&#8364; 49,99,-
								</td>
							</tr>
						</table>
					</a>
				</div>
			</td>
			<td>
				<div class="small">
				<img src="img/test.png" alt="test" width="180px" height="150px"/>
					Portal 2
				</div>
			</td>
			<td>
				<div class="small">
				<img src="img/test.png" alt="test" width="180px" height="150px"/>
					etc
				</div>
			</td>
			<td>
				<div class="small">
				<img src="img/test.png" alt="test" width="180px" height="150px"/>
					etc
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="small">
				<img src="img/test.png" alt="test" width="180px" height="150px"/>
					etc
				</div>
			</td>
			<td>
				<div class="small">
				<img src="img/test.png" alt="test" width="180px" height="150px"/>
					etc
				</div>
			</td>
		</tr>
	</table>
</div>