<div id="contentcontainer">
	<h2>Skyrim PC-DVD</h2>
	<div id="productbox">
		<div id="propertiescontainer">
			<div class="shadow">
				<div id="propertiesbox">
					<table>
						<tr>
							<td class="even">Artikelnummer</td>
							<td class="even">1</td>
						</tr>
						<tr>
							<td class="uneven">Type</td>
							<td class="uneven">PC-DVD</td>
						</tr>
						<tr>
							<td class="even">Voorraad</td>
							<td class="even">10 stuks</td>
						</tr>
						<tr>
							<td class="uneven">Levertijd</td>
							<td class="uneven"><span style="color: green;">Direct leverbaar</span></td>
						</tr>
						<tr>
							<td class="even">EAN-code</td>
							<td class="even">1234567891012</td>
						</tr>
						<tr>
							<td class="uneven">Prijs (incl. BTW)</td>
							<td class="uneven">&euro; 49,99</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		
		<div id="picturecontainer">
			<img src="img/skyrim.png" alt="Skyrim PC-DVD" />
		</div>
		<div id="descriptioncontainer">
				<strong>The Elder Scrolls V: Skyrim</strong><br />
			Het koninkrijk Tamriel staat in de role playing game The Elder Scrolls V: Skyrim op instorten. De High King of Skyrim is vermoord, diverse allianties azen op de troon en een eeuwenoud gevleugeld gevaar laat van zich horen. Draken zijn teruggekeerd naar Tamriel en terroriseren het land. Vrezend voor hun leven heeft het volk zijn hoop gevestigd op Dragonborn, een held geboren met de kracht van The Voice die als enige stand kan houden tegen deze vliegende monsters.
			<br /><br /><strong>Kies je eigen pad, maak je eigen keuzes</strong><br />
			Fans van deze razend populaire RPG-franchise weten al lang wat ze mogen verwachten van The Elder Scrolls V: Skyrim. Een enorme open wereld waarin alles mogelijk is. Stap in de schoenen van de zelf samen te stellen krijger Dragonborn en doe wat je wilt. Verken de ruige landschappen van Tamriel, reis van stad naar stad en verzamel een schat aan wapens, spreuken en vaardigheden. Ontwikkel je personage, steel de magische krachten van de draken en druk voor eens en altijd een stempel op het koninkrijk.
			<br /><br /><strong>Ook verkrijg baar voor</strong><br />
			Playstation 3, Xbox 360<br /><br /> 
		</div>
	</div>
</div>