<div id="contentcontainer">
	<div id="productbox">
		<table>
			<tr>
				<td>
					<div class="insidebox">
						<img src="img/skyrim.png" alt="skyrim" width="300px" height="300px"/>
					</div>
				</td>
				<td>
					<div class="insidebox">
						The Elder Scrolls V: Skyrim <br />
						&#8364; 49,99,-
					</div>
				</td>
			</tr>
		</table>			
		<div class="insidebox">
			<table>
				<tr>
					<td>
						<img src="img/Cart.png" alt="cart" width="40px" height="30px"/>
					</td>
					<td>
						<input id="addcart" type="submit" name="add" value="Toevoegen aan winkelwagen" />
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>