<div id="contentcontainer">
	<h2>Registreren</h2>
	<div id="registercontainer">
		<p>U kunt hier een nieuw account aanmaken.<br />Velden met een * zijn verplicht om in te vullen.</p>
		<br />
		<form action="#" method="post">
			<table>
				<tr>
					<td>
						Naam:
					</td>
					<td>
						<input type="text" name="name" maxlength="25" />*
					</td>
				</tr>
				<tr>
					<td>
						Achternaam:
					</td>
					<td>
						<input type="text" name="lastname" maxlength="25" />*
					</td>
				</tr>
				<tr>
				<td colspan="2" class="spacer"></td>
				</tr>
				<tr>
					<td>
						Postcode:
					</td>
					<td>
						<input type="text" name="zip1" maxlength="4" id="zip1"/>
						<input type="text" name="zip2" maxlength="2" id="zip2"/>*
					</td>
				</tr>
				<tr>
					<td>
						Straat:
					</td>
					<td>
						<input type="text" name="street" maxlength="25" />*
					</td>
				</tr>
				<tr>
					<td>
						Huisnummer:
					</td>
					<td>
						<input type="text" name="housenr" maxlength="5" />*
					</td>
				</tr>
				<tr>
					<td colspan="2" class="spacer"></td>
				</tr>
				<tr>
					<td>
						Telefoon:
					</td>
					<td>
						<input type="text" name="phone1" maxlength="25" />*
					</td>
				</tr>
				<tr>
					<td>
						Telefoon 2:
					</td>
					<td>
						<input type="text" name="`phone2" maxlength="25" />
					</td>
				</tr>
				<tr>
					<td colspan="2" class="spacer"></td>
				</tr>
				<tr>
					<td>
						Emailadres:
					</td>
					<td>
						<input type="text" name="email" maxlength="50" />*
					</td>
				</tr>
				<tr>
					<td colspan="2" class="spacer"></td>
				</tr>
				<tr>
					<td>
						Paswoord:
					</td>
					<td>
						<input type="password" name="pass" maxlength="25" />*
					</td>
				</tr>
				<tr>
					<td>
						Paswoord controle:
					</td>
					<td>
						<input type="password" name="pass" maxlength="25" />*
					</td>
				</tr>
				<tr>
					<td colspan="2" class="spacer"></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>
						<input id="submit" type="submit" name="submit" value="Registreer" />
					</td>
				</tr>
			</table>
		</form>
	</div>
</div>