<div id="contentcontainer">
	<h2>Alle filmgenres</h2>
	<br />
	<table>
		<tr>
			<td>
				<div class="category">
					<a href="?p=horrorfilm.html">
						<img src="img/film.png" alt="horror" width="180px" height="150px"/>
						Horror
					</a>
				</div>
			</td>
			<td>
				<div class="category">
				<a href="?p=actiefilm.html">
					<img src="img/film.png" alt="actie" width="180px" height="150px"/>
					Actie
				</a>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="category">
				<a href="?p=alternatievefilm.html">
					<img src="img/film.png" alt="alternatief" width="180px" height="150px"/>
					Alternatieve films
				</a>
				</div>
			</td>
			<td>
				<div class="category">
				<a href="?p=sffilm.html">
					<img src="img/film.png" alt="science-fiction" width="180px" height="150px"/>
					Science fiction films
				</a>
				</div>
			</td>
		</tr>		
	</table>
</div>