<div id="contentcontainer">
	<h2>Mijn winkelwagen</h2>
	<div id="overzichtcontainer" class="product">
		<p>Dit is de inhoud van uw winkelwagen.</p>
		<br />
		<center>
			<table id="product">
				<tr>
					<th class="begin"></th>
					<th>aantal</th>
					<th>product</th>
					<th>levertijd</th>
					<th>prijs</th>
				</tr>
				<tr>
					<td class="delete"><img src="img/trash.png" alt="Verwijder"></td>
					<td>2</td>
					<td>skyrim</td>
					<td>2 werkdagen</td>
					<td class="prijs">&euro; 110,00</td>
				</tr>
				<tr>
					<td class="delete"><img src="img/trash.png" alt="Verwijder"></td>
					<td>1</td>
					<td>portal 2</td>
					<td>3 werkdagen</td>
					<td class="prijs">&euro; 55,00</td>
				</tr>
				<tr>
					<td class="leeg"></td>
					<td class="leeg"></td>
					<td class="leeg"></td>
					<td>verzendkosten</td>
					<td class="prijs">&euro; 10,00</td>
				</tr>
				<tr>
					<td class="leeg"></td>
					<td class="leeg"></td>
					<td class="leeg"></td>
					<td>totaal</td>
					<td class="prijs">&euro; 175,00</td>
				</tr>
			</table>				
			<br />
			<form action="?p=overzicht.html" method="post">
				<input type="submit" name="submit" value="Afrekenen" />
			</form>
		</center>
		<br />
	</div>
</div>