<ul id="nav">
	<li>
		<a href="?p=">Home</a>
	</li>
	<li>
		<a href="?p=muziekmain.html">Muziek</a>
		<ul>
			<li><a href="?p=jazzmuziek.html">Jazz</a>
				<ul>
					<li><a href="?p=jazzmuziek.html">alle muziek</a></li>
					<li><a href="#">nieuwe muziek</a></li>
					<li><a href="#">aanbiedingen</a></li>
				</ul>
			</li>
			<li><a href="?p=bluesmuziek.html">Blues</a>
				<ul>
					<li><a href="?p=bluesmuziek.html">alle muziek</a></li>
					<li><a href="#">nieuwe muziek</a></li>
					<li><a href="#">aanbiedingen</a></li>
				</ul>
			</li>
			<li><a href="?p=discomuziek.html">Disco</a>
				<ul>
					<li><a href="?p=discomuziek.html">alle muziek</a></li>
					<li><a href="#">nieuwe muziek</a></li>
					<li><a href="#">aanbiedingen</a></li>
				</ul>
			</li>
			<li><a href="?p=deathmetalmuziek.html">Death Metal</a>
				<ul>
					<li><a href="?p=deathmetalmuziek.html">alle muziek</a></li>
					<li><a href="#">nieuwe muziek</a></li>
					<li><a href="#">aanbiedingen</a></li>
				</ul>
			</li>
		</ul>
	</li>
	<li>
		<a href="?p=videomain.html">Films</a>
		<ul>
			<li><a href="?p=horrorfilm.html">Horror</a>
				<ul>
					<li><a href="?p=horrorfilm.html">alle films</a></li>
					<li><a href="#">nieuwe films</a></li>
					<li><a href="#">aanbiedingen</a></li>
				</ul>
			</li>
			<li><a href="?p=actiefilm.html">Actie</a>
				<ul>
					<li><a href="?p=actiefilm.html">alle films</a></li>
					<li><a href="#">nieuwe films</a></li>
					<li><a href="#">aanbiedingen</a></li>
				</ul>
			</li>
			<li><a href="?p=alternatievefilm.html">Alternatieve films</a>
				<ul>
					<li><a href="?p=alternatievefilm.html">alle films</a></li>
					<li><a href="#">nieuwe films</a></li>
					<li><a href="#">aanbiedingen</a></li>
				</ul>
			</li>
			<li><a href="?p=sffilm.html">Science-Fiction</a>
				<ul>
					<li><a href="?p=sffilm.html">alle films</a></li>
					<li><a href="#">nieuwe films</a></li>
					<li><a href="#">aanbiedingen</a></li>
				</ul>
			</li>
		</ul>
	</li>
	<li>
		<a href="?p=gamesmain.html">Games</a>
		<ul>
			<li><a href="?p=ps3games.html">Playstation 3</a>
				<ul>
					<li><a href="?p=ps3games.html">alle games</a></li>
					<li><a href="#">nieuwe games</a></li>
					<li><a href="#">aanbiedingen</a></li>
				</ul>
			</li>
			<li><a href="?p=xboxgames.html">Xbox 360</a>
				<ul>
					<li><a href="?p=xboxgames.html">alle games</a></li>
					<li><a href="#">nieuwe games</a></li>
					<li><a href="#">aanbiedingen</a></li>
				</ul>	
			</li>
			<li>
				<a href="?p=pcgames.html">PC</a>
				<ul>
					<li><a href="?p=pcgames.html">alle games</a></li>
					<li><a href="#">nieuwe games</a></li>
					<li><a href="#">aanbiedingen</a></li>
				</ul>
			</li>
			<li><a href="?p=wiigames.html">Nintendo WII</a>
				<ul>
					<li><a href="?p=wiigames.html">alle games</a></li>
					<li><a href="#">nieuwe games</a></li>
					<li><a href="#">aanbiedingen</a></li>
				</ul>
			</li>
		</ul>
	</li>
	<li>
		<a href="?p=boekenmain.html">Boeken</a>
		<ul>
			<li><a href="?p=suspenseboeken.html">Suspense</a>
				<ul>
					<li><a href="?p=suspenseboeken.html">alle boeken</a></li>
					<li><a href="#">nieuwe boeken</a></li>
					<li><a href="#">aanbiedingen</a></li>
				</ul>
			</li>
			<li><a href="?p=romanboeken.html">Romans</a>
				<ul>
					<li><a href="?p=romanboeken.html">alle boeken</a></li>
					<li><a href="#">nieuwe boeken</a></li>
					<li><a href="#">aanbiedingen</a></li>
				</ul>
			</li>
			<li><a href="?p=nonfictionboeken.html">Non-Fiction</a>
				<ul>
					<li><a href="?p=nonfictionboeken.html">alle boeken</a></li>
					<li><a href="#">nieuwe boeken</a></li>
					<li><a href="#">aanbiedingen</a></li>
				</ul>
			</li>
		</ul>
	</li>
	<li>
		<a href="?p=FAQ.html">FAQ</a>
	</li>
	<li style="width: 146px;">
		<a style="width: 146px;" href="?p=contact.html">Contact</a>
	</li>
</ul>