<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Umbranis webshop b&egrave;ta versie</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="style/style.css" type="text/css" />
	<link rel="stylesheet" href="style/login.css" type="text/css" />
	<link rel="stylesheet" href="style/bestel.css" type="text/css" />
</head>
<body>
	<div id="container">
		<div id="header"><h1>Umbranis webshop b&egrave;ta versie</h1></div>
		<div id="tabs">
		<ul id="nav">
		<li><a href="index.html">Home</a></li>
		<li><a href="#">Muziek</a>
			<ul>
				<li><a href="#">iets</a></li>
				<li><a href="#">nog iets</a></li>
				<li><a href="#">etc</a></li>
			</ul></li>
		<li><a href="#">Video</a>
			<ul>
				<li><a href="#">iets</a></li>
				<li><a href="#">nog iets</a></li>
				<li><a href="#">etc</a></li>
			</ul></li>
		<li><a href="gamesmain.html">Games</a>
			<ul>
				<li><a href="#">Playstation 3</a></li>
				<li><a href="#">Xbox 360</a></li>
				<li><a href="pcgames.html">PC</a>
					<ul>
						<li><a href="pcgames.html">alle games</a></li>
						<li><a href="#">nieuwe games</a></li>
						<li><a href="#">aanbiedingen</a></li>
					</ul>
				</li>
				<li><a href="#">etc</a></li>
			</ul></li>
		<li><a href="#">boeken</a>
			<ul>
				<li><a href="#">iets</a></li>
				<li><a href="#">nog iets</a></li>
				<li><a href="#">etc</a></li>
			</ul></li>
		<li><a href="#">FAQ</a></li>
		<li><a href="contact.html">Contact</a></li>
		</ul>
			</div>		
		<div id="content">
			<div id="left">Meest verkocht/andere mensen kochten ook/meest gezocht</div>
			<div id="right">
				<div id="gamebox">
					<h2>Product overzicht</h2>
					<div id="overzichtcontainer" class="product">
					<p>De onderstaande producten zullen worden afgerekend.</p>
					<br />
					<center><table id="product">
						<tr>
							<th>aantal</th>
							<th>product</th>
							<th>levertijd</th>
							<th>prijs</th>
						</tr>
						<tr>
							<td>2</td>
							<td>skyrim</td>
							<td>2 werkdagen</td>
							<td class="prijs">&euro; 110,00</td>
						</tr>
						<tr>
							<td>1</td>
							<td>portal 2</td>
							<td>3 werkdagen</td>
							<td class="prijs">&euro; 55,00</td>
						</tr>
						<tr>
							<td class="leeg"></td>
							<td class="leeg"></td>
							<td>verzendkosten</td>
							<td class="prijs">&euro; 10,00</td>
						</tr>
						<tr>
							<td class="leeg"></td>
							<td class="leeg"></td>
							<td>totaal</td>
							<td class="prijs">&euro; 175,00</td>
					</tr>
					</table>					
					<br />
					<form name="link" action="winkelwagen.html" method="get">
					<input type="submit" value="terug naar winkelwagen" />
					</form>
					</center><br />
					</div>
					<br />
					<h2>Contact gegevens</h2>
					<div id="overzichtcontainer" class="contact">
					<p> Controleer uw contact gegevens.</p><br />
					<center><table>
						<tr>
							<td>Voornaam</td>
							<td>: Jan</td>
						</tr>
						<tr>
							<td>Achternaam</td>
							<td>: Klaassen</td>
						</tr>
						<tr>
							<td>Postcode</td>
							<td>: 1234 AB</td>
						</tr>
						<tr>
							<td>Straat</td>
							<td>: Randomweg</td>
						</tr>
						<tr>
							<td>Huisnummer</td>
							<td>: 56</td>
						</tr>
						<tr>
							<td>hoofd telefoonnummer</td>
							<td>: 012-3456789 </td>
						<tr>
					</table></center>
				</div>
			    <br /><h2>Betalingsmethoden</h2>
				<div id="overzichtcontainer" class="contact">
				<p>Kies een betaal methode</p>
				
				<center><table class="betaling">
					<tr>
						<td><input type="radio" name="betaling" id="ideal" /></td>
						<td><img src="img/ideal.png"/></td>
					</tr>
					<tr>
						<td><input type="radio" name="betaling" id="master" checked="checked" /></td>
						<td><img src="img/mastercard.png"/></td>
					</tr>
					<tr>
						<td><input type="radio" name="betaling" id="automatischeIncasso" />
						<td><label for="automatischeIncasso"><img src="img/automatischeincasso.png"/></label></td>
					</tr>
				</table></center>
				
				</div>
				<div id="overzichtcontainer" class="mastercard">
					<p> U heeft gekozen om met een mastercard te betalen </p>
					<br /><center><table>
					<tr>
						<td class="input">credit card nummer: *</td>
						<td><input type="text" name="ccnummer" maxlength="20" /></td>
					</tr>
					<tr>
						<td class="input">credit card eigenaar: *</td>
						<td><input type="text" name="cceigenaar" maxlength="50" /></td>
					</tr>
					<tr>
						<td class="input">verloop datum: *</td>
						<td><form action="">
							<select name="exp1" id="exp1">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							</select>
							<select name="exp2" id="exp2">
							<option value="2011">2011</option>
							<option value="2012">2012</option>
							<option value="2013">2013</option>
							<option value="2014">2014</option>
							<option value="2015">2015</option>
							<option value="2016">2016</option>
							<option value="2017">2017</option>
							<option value="2018">2018</option>
							<option value="2019">2019</option>
							<option value="2020">2020</option>
							<option value="2021">2021</option>
							<option value="2022">2022</option>
							</select>
							</form>	
						</td>
					</tr>
					<tr>
						<td class="input">CVV code: *</td>
						<td><input type="password" name="ccnummer" id="cvv" maxlength="4" /></td>
					</tr>


					</table><br />
					<form name="link" action="succes.html" method="get">
					<input id="submit" type="submit" name="submit" value="doorgaan" /></center>
					</div>
					</div>
			</div>
			<br />
			<br />
			<br />
			<div style="clear: both; height: 30px;"></div>
		</div>
		<div id="loginbox"><a href="login.html">Inloggen</a>&nbsp;
		<a href="registreer.html">Registreren</a>&nbsp;
		<a href="winkelwagen.html">winkelwagen</a>
		</div>
		<div id="footer">Copyright &copy; 2012</div>
	</div>
</body>
</html>