<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Umbranis webshop b&egrave;ta versie</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="style/style.css" type="text/css" />
	<link rel="stylesheet" href="style/login.css" type="text/css" />
</head>
<body>
	<div id="container">
		<div id="header"><h1>Umbranis webshop b&egrave;ta versie</h1></div>
		<div id="tabs">
			<ul id="nav">
				<li><a href="index.html">Home</a></li>
				<li><a href="#">Muziek</a>
					<ul>
						<li><a href="#">iets</a></li>
						<li><a href="#">nog iets</a></li>
						<li><a href="#">etc</a></li>
					</ul></li>
				<li><a href="#">Video</a>
					<ul>
						<li><a href="#">iets</a></li>
						<li><a href="#">nog iets</a></li>
						<li><a href="#">etc</a></li>
					</ul></li>
				<li><a href="gamesmain.html">Games</a>
					<ul>
						<li><a href="#">Playstation 3</a></li>
						<li><a href="#">Xbox 360</a></li>
						<li><a href="pcgames.html">PC</a>
							<ul>
								<li><a href="pcgames.html">alle games</a></li>
								<li><a href="#">nieuwe games</a></li>
								<li><a href="#">aanbiedingen</a></li>
							</ul>
						</li>
						<li><a href="#">etc</a></li>
					</ul></li>
				<li><a href="#">boeken</a>
					<ul>
						<li><a href="#">iets</a></li>
						<li><a href="#">nog iets</a></li>
						<li><a href="#">etc</a></li>
					</ul></li>
				<li><a href="#">FAQ</a></li>
				<li style="width: 146px;"><a style="width: 146px;" href="contact.html">Contact</a></li>
			</ul>
		</div>				
		<div id="content">
			<div id="left">Meest verkocht/andere mensen kochten ook/meest gezocht</div>
			<div id="right">
				<div id="gamebox">
					<h2>Registreren</h2>
					<div id="registercontainer">
						<p>U kunt hier een nieuw account aanmaken.<br />Velden met een * zijn verplicht om in te vullen.</p>
						<br />
						<form action="#" method="post">
							<table>
								<tr>
									<td>
										Naam:
									</td>
									<td>
										<input type="text" name="name" maxlength="25" />*
									</td>
								</tr>
								<tr>
									<td>
										Achternaam:
									</td>
									<td>
										<input type="text" name="lastname" maxlength="25" />*
									</td>
								</tr>
								<tr>
								<td colspan="2" class="spacer"></td>
								</tr>
								<tr>
									<td>
										Postcode:
									</td>
									<td>
										<input type="text" name="zip1" maxlength="4" id="zip1"/>
										<input type="text" name="zip2" maxlength="2" id="zip2"/>*
									</td>
								</tr>
								<tr>
									<td>
										Straat:
									</td>
									<td>
										<input type="text" name="street" maxlength="25" />*
									</td>
								</tr>
								<tr>
									<td>
										Huisnummer:
									</td>
									<td>
										<input type="text" name="housenr" maxlength="5" />*
									</td>
								</tr>
								<tr>
									<td colspan="2" class="spacer"></td>
								</tr>
								<tr>
									<td>
										Telefoon:
									</td>
									<td>
										<input type="text" name="phone1" maxlength="25" />*
									</td>
								</tr>
								<tr>
									<td>
										Telefoon 2:
									</td>
									<td>
										<input type="text" name="`phone2" maxlength="25" />
									</td>
								</tr>
								<tr>
									<td colspan="2" class="spacer"></td>
								</tr>
								<tr>
									<td>
										Emailadres:
									</td>
									<td>
										<input type="text" name="email" maxlength="50" />*
									</td>
								</tr>
								<tr>
									<td colspan="2" class="spacer"></td>
								</tr>
								<tr>
									<td>
										Paswoord:
									</td>
									<td>
										<input type="password" name="pass" maxlength="25" />*
									</td>
								</tr>
								<tr>
									<td>
										Paswoord controle:
									</td>
									<td>
										<input type="password" name="pass" maxlength="25" />*
									</td>
								</tr>
								<tr>
									<td colspan="2" class="spacer"></td>
								</tr>
								<tr>
									<td>&nbsp;</td>
									<td>
										<input id="submit" type="submit" name="submit" value="Registreer" />
									</td>
								</tr>
							</table>
						</form>
					</div>
				</div>
			</div>
			<br />
			<br />
			<br />
			<div style="clear: both; height: 30px;"></div>	
		</div>
		<div id="loginbox"><a href="login.html">Inloggen</a>&nbsp;
		<a href="registreer.html">Registreren</a>&nbsp;
		<a href="winkelwagen.html">winkelwagen</a>
		</div>
		<div id="footer">Copyright &copy; 2012</div>
	</div>
</body>
</html>