<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Umbranis webshop b&egrave;ta versie</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="style/style.css" type="text/css" />
	<link rel="stylesheet" href="style/login.css" type="text/css" />
	<link rel="stylesheet" href="style/bestel.css" type="text/css" />
</head>
<body>
	<div id="container">
		<div id="header"><h1>Umbranis webshop b&egrave;ta versie</h1></div>
		<div id="tabs">
		<ul id="nav">
		<li><a href="index.html">Home</a></li>
		<li><a href="#">Muziek</a>
			<ul>
				<li><a href="#">iets</a></li>
				<li><a href="#">nog iets</a></li>
				<li><a href="#">etc</a></li>
			</ul></li>
		<li><a href="#">Video</a>
			<ul>
				<li><a href="#">iets</a></li>
				<li><a href="#">nog iets</a></li>
				<li><a href="#">etc</a></li>
			</ul></li>
		<li><a href="gamesmain.html">Games</a>
			<ul>
				<li><a href="#">Playstation 3</a></li>
				<li><a href="#">Xbox 360</a></li>
				<li><a href="pcgames.html">PC</a>
					<ul>
						<li><a href="pcgames.html">alle games</a></li>
						<li><a href="#">nieuwe games</a></li>
						<li><a href="#">aanbiedingen</a></li>
					</ul>
				</li>
				<li><a href="#">etc</a></li>
			</ul></li>
		<li><a href="#">boeken</a>
			<ul>
				<li><a href="#">iets</a></li>
				<li><a href="#">nog iets</a></li>
				<li><a href="#">etc</a></li>
			</ul></li>
		<li><a href="#">FAQ</a></li>
		<li><a href="contact.html">Contact</a></li>
		</ul>
			</div>		
		<div id="content">
			<div id="left">Meest verkocht/andere mensen kochten ook/meest gezocht</div>
			<div id="right">
				<div id="gamebox">
					<h2>Mijn winkelwagen</h2>
					<div id="overzichtcontainer" class="product">
					<p>Dit is de inhoud van uw winkelwagen</p>
					<br />
					<center><table id="product">
						<tr>
							<th class="begin"></th>
							<th>aantal</th>
							<th>product</th>
							<th>levertijd</th>
							<th>prijs</th>
						</tr>
						<tr>
							<td class="delete"><img src="img/trash.png"></td>
							<td>2</td>
							<td>skyrim</td>
							<td>2 werkdagen</td>
							<td class="prijs">&euro; 110,00</td>
						</tr>
						<tr>
							<td class="delete"><img src="img/trash.png"></td>
							<td>1</td>
							<td>portal 2</td>
							<td>3 werkdagen</td>
							<td class="prijs">&euro; 55,00</td>
						</tr>
						<tr>
							<td class="leeg"></td>
							<td class="leeg"></td>
							<td class="leeg"></td>
							<td>verzendkosten</td>
							<td class="prijs">&euro; 10,00</td>
						</tr>
						<tr>
							<td class="leeg"></td>
							<td class="leeg"></td>
							<td class="leeg"></td>
							<td>totaal</td>
							<td class="prijs">&euro; 175,00</td>
					</tr>
					</table>					
					<br />
					<form name="link" action="overzicht.html" method="get">
					<input type="submit" value="afrekenen" />
					</form>
					</center><br />
					</div>
					</div>
			</div>
			<br />
			<br />
			<br />
			<div style="clear: both; height: 30px;"></div>
		</div>
		<div id="loginbox"><a href="login.html">Inloggen</a>&nbsp;
		<a href="registreer.html">Registreren</a>&nbsp;
		<a href="winkelwagen.html">winkelwagen</a>
		</div>
		<div id="footer">Copyright &copy; 2012</div>
	</div>
</body>
</html>