.klantcontact, .klantovz, .klantbestel{
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	background-color: #FFE599;
	border: solid 2px black;
	width: 500px;
	height: auto;
	text-align: left;
}

.klantbestel{
	width: 800px;
}
.klantovz{
	width: 700px;
}
.klantcontact table, .klantovz table, .klantbestel table{
margin-left: auto;
margin-right: auto;
}


.klantcontact p, .klantbestel p, .klantovz p{
margin-left: 10px;
margin-right: 10px;
margin-top: 20px;
margin-bottom: 10px;
text-align: center;
}
.huisnr{
width: 40px;
}

.ctel{
width: 100px;
}

.cmail{
width: 200px;
}
td.prijs{
text-align: right;
}
#lijstvklant{
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	width: 650px;
}
#lijstvklant th, #lijstvklant td{
border: 1px solid black;
}
#lijstvklant th{
text-align: center;
}
#lijstvklant td{
padding: 5px;
}
#lijstvklant td.leeg{
	border: 0;
}

th.status, th.product{
	width: 20%;
}
#orders{
	border-collapse: collapse;
}
#orders th{
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-top: 1px solid black;
	padding-left: 5px;
	padding-right: 5px;
}
#orders td{
	border-left: 1px solid black;
	border-right: 1px solid black;
	padding: 2px;
}
#orders th.begin{
	border: 0;
}
#orders td.begin{
	border-left: 0;
}
#orders td.eind{
	border-right: 0;
}
#orders tr.eind{
	border-bottom: 1px solid black;
}


