<div id="contentcontainer">
	<h2>FAQ</h2>
	<div id="faqbox">
					<u>FAQ</u></br>
					<p align="left">
					Here, we answer your most burning questions.</br></br>
					<i><font color=blue>What is the meaning of life?</i></font color></br>
					Questions related to the site.</br></br>
					<i><font color=blue>I'm on a site?</i></font color></br>
					Yes. Yes you are.</br></br>
					<i><font color=blue>What kind of site is this?</i></font color></br>
					We sell various digital media, such as videogames and movies.</br></br>
					<i><font color=blue>Why would you do that??</i></font color></br>
					To make money.</br></br>
					<i><font color=blue>Money is how the man keeps us down, man.</i></font color></br>
					Groovy.</br></br>
					</div>
					</p>
	</div>
</div>