<div id="contentcontainer">
	<h2>Alle Game platformen</h2>
	<br />
	<table>
		<tr>
			<td>
				<div class="category">
					<a href="?p=pcgames.html">
						<img src="img/pc.png" alt="PC-Games" width="180px" height="150px"/>
						Pc-Games
					</a>
				</div>
			</td>
			<td>
				<div class="category">
				<img src="img/test.png" alt="test" width="180px" height="150px"/>
					Xbox 360-Games
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="category">
				<img src="img/test.png" alt="test" width="180px" height="150px"/>
					PlayStation 3 Games
				</div>
			</td>
			<td>
				<div class="category">
				<img src="img/test.png" alt="test" width="180px" height="150px"/>
					Nintendo WII Games
				</div>
			</td>
		</tr>	
	</table>
</div>