<div id="contentcontainer">
	<h2>Zoeken</h2>
	<div id="searchcontainer">
		<p>Zoek hier op producten en categorie&euml;n</p>
		<br />
		<form action="#" method="post">
			<table>
				<tr>
					<td>
						Zoekwoord: 
					</td>
					<td>
						<input type="text" name="email" maxlength="50" />
					</td>
					<td>
						<input id="submit" type="submit" name="submit" value="Zoek" />
					</td>
				</tr>
				<tr>
					<td>
						&nbsp;
					</td>
					<td colspan="2">
						<input type="checkbox" name="products" checked="checked" />
						Producten
					</td>
				</tr>
				<tr>
					<td>
						&nbsp;
					</td>
					<td colspan="2">
						<input type="checkbox" name="categories" checked="checked" />
						Categorie&euml;n
					</td>
				</tr>
			</table>
		</form>
		<br />
	</div>
</div>