<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Umbranis webshop b&egrave;ta versie</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="style.css" type="text/css" />
</head>
<body>
	<div id="container">
		<div id="header"><h1>Umbranis webshop b&egrave;ta versie</h1></div>
		<div id="tabs"><strong>FAQ&nbsp;&nbsp;&nbsp;&nbsp;Contact&nbsp;&nbsp;&nbsp;&nbsp;CD's&nbsp;&nbsp;&nbsp;&nbsp;Video&nbsp;&nbsp;&nbsp;&nbsp;Games&nbsp;&nbsp;&nbsp;&nbsp;Boeken</strong><br />Subcategorie&euml;n</div>
		<div id="content">
			<div id="left">Meest verkocht/andere mensen kochten ook/meest gezocht</div>
			<div id="right">
				<h2>Content</h2>
			</div>
			<br />
			<br />
			<br />
			<div style="clear: both; height: 30px;"></div>
			<div id="footer">Copyright &copy; 2012</div>
		</div>
	</div>
</body>
</html>