*{
	margin: 0px;
	padding: 0px;
}

html, body{
	width: 100%;
	height: 100%;
	background-color: #dddddd;
	font-family: Helvetica;
}

#header, #tabs, #cats, #content, #container{
	width: 100%;
	text-align: center;
}

#container{
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	min-height: 100%;
	background-color: rgb(249, 203, 156);
	border: solid 1px black;
	border-bottom: none;
	border-top: none;
	position: relative;
}

#header{
	height: 90px;
	border-bottom: solid 2px black;
	background-color: rgb(133, 32, 12);
	line-height: 90px;
	color: white;
}

#tabs, #cats{
	height: 25px;
	border-bottom: solid 1px black;
	background-color: rgb(180, 95, 6);
	line-height: 25px;
	color: white;
}

#cats{
	border-bottom: solid 2px black;
}

#content{
}

#footer{
	height: 25px;
	line-height: 25px;
	border-top: solid 1px black;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 1024px;
}