<ul id="nav">
	<li>
		<a href="?p=">Home</a>
	</li>
	<li>
		<a href="#">Muziek</a>
		<ul>
			<li><a href="#">iets</a></li>
			<li><a href="#">nog iets</a></li>
			<li><a href="#">etc</a></li>
		</ul>
	</li>
	<li>
		<a href="#">Video</a>
		<ul>
			<li><a href="#">iets</a></li>
			<li><a href="#">nog iets</a></li>
			<li><a href="#">etc</a></li>
		</ul>
	</li>
	<li>
		<a href="?p=gamesmain.html">Games</a>
		<ul>
			<li><a href="#">Playstation 3</a></li>
			<li><a href="#">Xbox 360</a></li>
			<li>
				<a href="?p=pcgames.html">PC</a>
				<ul>
					<li><a href="#">alle games</a></li>
					<li><a href="#">nieuwe games</a></li>
					<li><a href="#">aanbiedingen</a></li>
				</ul>
			</li>
			<li><a href="#">etc</a></li>
		</ul>
	</li>
	<li>
		<a href="#">Boeken</a>
		<ul>
			<li><a href="#">iets</a></li>
			<li><a href="#">nog iets</a></li>
			<li><a href="#">etc</a></li>
		</ul>
	</li>
	<li>
		<a href="?p=FAQ.html">FAQ</a>
	</li>
	<li style="width: 146px;">
		<a href="?p=contact.html">Contact</a>
	</li>
</ul>