<div id="contentcontainer">
	<h2>Bestelling no. 1</h2>
	<div id="admincontainer">
		<table class="normal">
			<tr>
				<td>Klant naam: </td>
				<td>: Jan Klaassen</td>
			</tr>
			<tr>
				<td>Totale prijs: </td>
				<td>: &euro; 50,00</td>
			</tr>
			<tr>
				<td>Betaald</td>
				<td>: Ja</td>
			</tr>
			<tr>
				<td>Afgeleverd</td>
				<td>: Nee</td>
			</tr>
			<tr>
				<td class="spacer"></td>
			</tr>
			<tr>
				<td colspan="2"><span style="text-decoration: underline;">Klantgegevens</span></td>
			</tr>
			<tr>
				<td>Postcode</td>
				<td>: 1234 AB</td>
			</tr>
			<tr>
				<td>Straat</td>
				<td>: Randomweg</td>
			</tr>
			<tr>
				<td>Huisnummer</td>
				<td>: 56</td>
			</tr>
			<tr>
				<td>Hoofd telefoonnummer</td>
				<td>: 012-3456789 </td>
			</tr>
		</table>
		<br />
		<table>
			<tr>
				<td><strong>Artikel no.</strong></td>
				<td><strong>Artikel naam</strong></td>
				<td><strong>Aantal</strong></td>
				<td><strong>Prijs / stuk</strong></td>
				<td><strong>Prijs totaal</strong></td>
			</tr>
			<tr>
				<td>1</td>
				<td>Skyrim PC</td>
				<td>1</td>
				<td>&euro; 25,00</td>
				<td>&euro; 25,00</td>
			</tr>
			<tr>
				<td>2</td>
				<td>Portals 2 PC</td>
				<td>2</td>
				<td>&euro; 12,50</td>
				<td>&euro; 25,00</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><strong>Totaal:</strong></td>
				<td><strong>&euro; 50,00</strong></td>
			</tr>
		</table>
		<br />
		<form action="#" method="post">
			<table class="normal">
				<tr>
					<td>Betaald</td>
					<td>
						<select name="payed">
							<option value="yes" selected="selected">Ja</option>
							<option value="no">Nee</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>Afgeleverd</td>
					<td>
						<select name="delivered">
							<option value="yes">Ja</option>
							<option value="no" selected="selected">Nee</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><input type="submit" name="submit" value="Update" id="submit" /></td>
				</tr>
			</table>
		</form>
		<br />
	</div>
</div>