#orders th{
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-top: 1px solid black;
	padding: 0px 3px;
}
#orders td{
	border-left: 1px solid black;
	border-right: 1px solid black;
	padding: 0px 3px;
}
#orders th.begin{
	border: 0;
}
#orders td.begin{
	border-left: 0;
}
#orders td.eind{
	border-right: 0;
}
#orders tr.eind{
	border-bottom: 1px solid black;
}